build/**
build/ga1-core-win64/ga.dir/Debug/ga.tlog/CL.command.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/CL.read.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/CL.write.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/ga.write.1u.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/link.command.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/link.read.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga.tlog/link.write.1.tlog
build/ga1-core-win64/ga.dir/Debug/ga_animation_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_button.obj
build/ga1-core-win64/ga.dir/Debug/ga_camera.obj
build/ga1-core-win64/ga.dir/Debug/ga_checkbox.obj
build/ga1-core-win64/ga.dir/Debug/ga_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_condvar.obj
build/ga1-core-win64/ga.dir/Debug/ga_cube_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_debug_geometry.obj
build/ga1-core-win64/ga.dir/Debug/ga_egg_parser.obj
build/ga1-core-win64/ga.dir/Debug/ga_entity.obj
build/ga1-core-win64/ga.dir/Debug/ga_fiber.obj
build/ga1-core-win64/ga.dir/Debug/ga_font.obj
build/ga1-core-win64/ga.dir/Debug/ga_geometry.obj
build/ga1-core-win64/ga.dir/Debug/ga_hello_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_input.obj
build/ga1-core-win64/ga.dir/Debug/ga_intersection.obj
build/ga1-core-win64/ga.dir/Debug/ga_intersection.tests.obj
build/ga1-core-win64/ga.dir/Debug/ga_intpool.obj
build/ga1-core-win64/ga.dir/Debug/ga_job.obj
build/ga1-core-win64/ga.dir/Debug/ga_label.obj
build/ga1-core-win64/ga.dir/Debug/ga_lua_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_mat3f.obj
build/ga1-core-win64/ga.dir/Debug/ga_mat4f.obj
build/ga1-core-win64/ga.dir/Debug/ga_material.obj
build/ga1-core-win64/ga.dir/Debug/ga_model_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_output.obj
build/ga1-core-win64/ga.dir/Debug/ga_physics_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_physics_world.obj
build/ga1-core-win64/ga.dir/Debug/ga_playermove_component.obj
build/ga1-core-win64/ga.dir/Debug/ga_program.obj
build/ga1-core-win64/ga.dir/Debug/ga_quatf.obj
build/ga1-core-win64/ga.dir/Debug/ga_queue.obj
build/ga1-core-win64/ga.dir/Debug/ga_rigid_body.obj
build/ga1-core-win64/ga.dir/Debug/ga_shape.obj
build/ga1-core-win64/ga.dir/Debug/ga_sim.obj
build/ga1-core-win64/ga.dir/Debug/ga_texture.obj
build/ga1-core-win64/ga.dir/Debug/ga_vec2f.obj
build/ga1-core-win64/ga.dir/Debug/ga_vec3f.obj
build/ga1-core-win64/ga.dir/Debug/ga_vec4f.obj
build/ga1-core-win64/ga.dir/Debug/ga_widget.obj
build/ga1-core-win64/ga.dir/Debug/main.obj
build/ga1-core-win64/ga.dir/Debug/vc142.pdb
